<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category List</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <h1>Add Category</h1>
    <div>
        <!-- Form -->
         <form th:object="${category}" th:action="@{save}" action="#" method="post">
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" />
            <input type="submit" value="Save"></input>
         </form>
    </div>
    
</body>
</html>